<%= turbo_frame_tag 'edit-profile-modal' do %>
  <div class='fixed z-20 w-screen h-screen bg-gray-100/75'>
    <div class='fixed z-10 top-1/4 left-1/4 bg-gray-600 opacity-100 p-4 rounded-md'>
    <%= form_with model: [@user, @profile], url: profile_path(@user, format: :html), id: 'edit-profile-form', class:'w-96', data: {turbo: false} do |f| %>
      <div id='avatar' class='flex rounded-full -top-12 bg-purple-400 items-center justify-center' style='height: 100px; width: 100px;'>
        <%= image_tag 'default-avatar-fish.png', alt: 'Avatar', class: 'rounded-full'%>
      </div>

      <%= fields_for :user, @user do |user_fields| %>
        <div>
          <%= user_fields.label :display_name, class:'block text-white'  %>
          <%= user_fields.text_field :display_name, class:'w-72 px-2' %>
        </div>
      <% end %>
      
      <%= fields_for :profile, @profile do |profile_fields| %>
        <div>
          <%= profile_fields.label :slug, class:"block text-white"  %>
          <%= profile_fields.text_field :slug, class:'w-80 px-2' %>
        </div>
        
        <div>
          <%= profile_fields.label :description, class:"block text-white"  %>
          <%= profile_fields.text_area :description, class:'w-full px-2' %>
        </div>
      <% end %>
      
      <div>
        <%= f.submit "Save Changes", class:"block text-white bg-gray-800 rounded-full px-2" %>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
