<%= render 'shared/nav' %>
<div id='profile' class='marble-background max-w-lg mr-a ml-48'>
  <div id='hero'>
    <div id ='banner' class='bg-red-400 opacity-50' style="height: 256px;">
      <img src='' alt='Banner Image'>
    </div>
    <div id='about' class='mx-4'>
      <div id='about-head' class='relative'>
        <div id='avatar' class='flex rounded-full absolute -top-12 bg-purple-400 opacity-50 items-center justify-center' style='height: 100px; width: 100px;'>
          <img src='' alt='Avatar'>
        </div>
        <div id='friend-request-button' class='absolute -right-2 bg-blue-200 py-1 px-2 rounded-full'> Request Friend</div>
      </div>
      <div id='about-body' class='relative pt-14'>
        <div id='name' class='font-bold font-sans'><%= @profile.user.name%> - <%=@profile.slug%></div>
        <div id='about-text' class='mt-4'><%= @profile.description%></div>
      </div>
    </div>
  </div>
  <div id='content-body' class='marble-background'>
    <ul id='content-nav' class='flex mt-12 px-36 border-b border-yellow-600 divide-x divide-yellow-600'>
      <li class='px-2'>
        <%= link_to 'Posts', user_profile_path(@profile.user.id), data: { turbo_frame: 'content' } %>
      </li>
      <li class='px-4 opacity-50' > 
        <%= link_to 'Friends', friends_user_profile_path(@profile.user.id), data: { turbo_frame: 'content' } %>
      </li>
      <li class='px-2 opacity-50'>Media</li>
    </ul>
    <%= turbo_frame_tag 'content', class: 'marble-background ' do %>
      <%= render 'posts/posts', posts: @profile.user.posts %>
    <% end %>
  </div>
  
</div>
<div id='settings' class='fixed right-8'>Settings</div>